<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <title>Guardians</title>
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/style.min.css') }}" rel="stylesheet">
</head>

<body>
    
    
    <!-- Main wrapper - style you can find in pages.scss -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- Topbar header - style you can find in pages.scss -->
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- Logo -->
                    <a class="navbar-brand" href="{{url_for('admin_dashboard')}}">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                            <!-- Dark Logo icon -->
                            <img src="{{url_for('static',filename='img/Guardians.png')}}" alt="homepage" class="dark-logo" />
                            <!-- <h5>Logo</h5> -->
                        </b>
                        <!--End Logo icon -->
                    </a>
                    <!-- End Logo -->
                    
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="mdi mdi-menu"></i>
                    </a>
                </div>
                
                <!-- End Logo -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    
                    <ul class="navbar-nav float-start me-auto">
                    </ul>
                
                    
                    <!-- Right side toggle and nav items -->
                    
                    <ul class="navbar-nav float-end">
                        <!-- User profile and search -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{url_for('static',filename='img/d2.jpg')}}" alt="user" class="rounded-circle" width="31">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{url_for('logout')}}"><i class="ti-wallet m-r-5 m-l-5"></i>
                                    Logout</a>
                            </ul>
                        </li>
                        
                        <!-- User profile and search -->
                    </ul>
                </div>
            </nav>
        </header>
        
        <!-- End Topbar header -->
        
        
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{url_for('admin_dashboard')}}" aria-expanded="false">
                                <i class="mdi mdi-view-dashboard"></i>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{url_for('admin_add')}}" aria-expanded="false">
                                <i class="mdi mdi-border-all"></i>
                                <span class="hide-menu">Add Signature</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{url_for('admin_compare')}}" aria-expanded="false">
                                <i class="mdi mdi-face"></i>
                                <span class="hide-menu">Compare Signature</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        
        
        <!-- Page wrapper  -->
        
        <div class="page-wrapper">
            
            <!-- Bread crumb and right sidebar toggle -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 d-flex align-items-center">
                              <li class="breadcrumb-item"><a href="{{url_for('admin_dashboard')}}" class="link"><i class="mdi mdi-home-outline fs-4"></i></a></li>
                              <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                            </ol>
                          </nav>
                        <h1 class="mb-0 fw-bold">Dashboard</h1> 
                        <h3>Hello, {{usernames}}</h2>
                    </div>
                </div>
            </div>
            <!-- End Bread crumb and right sidebar toggle -->
            
            
            <!-- Container fluid  -->
             <!-- Container fluid  -->
             <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-7 col-md-8">
                                        <div class="numbers">
                                            <p class="card-category">Signature Registered</p>
                                            {% if sign == 0 %}
                                            <p class="card-title">0</p>
                                            {% else %}
                                            <p class="card-title">{{sgn}}<p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-7 col-md-8">
                                        <div class="numbers">
                                            <p class="card-category">Signature Comparison</p>
                                            {% if sgn_cmp == 0%}
                                            <p class="card-title">0</p>
                                            {% else %}
                                            <p class="card-title">{{sgn_cmp}}<p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="card card-stats">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-7 col-md-8">
                                        <div class="numbers">
                                            <p class="card-category">Matched Signature  </p>
                                            {% if doc == 0 %}
                                            <p class="card-title">0</p>
                                            {% else %}
                                            <p class="card-title">{{doc}}<p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Table -->
                <div class="row">
                    <!-- column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- title -->
                                <div class="d-md-flex">
                                    <div>
                                        <h4 class="card-title">List of Signature</h4>
                                    </div>
                                    
                                </div>
                                <!-- title -->
                                <div class="table-responsive">
                                    <table class="table mb-0 table-hover align-middle text-nowrap">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0">No.</th>
                                                <th class="border-top-0">Name of Signature</th>
                                                <th class="border-top-0">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if lenKaryawan == 0 %}
                                            <tr>
                                                <td colspan="3" class="text-center">No Data</td>
                                            </tr>
                                            {% else %}
                                            {% for i in range(1, lenKaryawan+1)%}
                                            <tr>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="ms-2">
                                                            <h5 class="mb-0 fw-bold">{{i}}</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="ms-2">
                                                            <h5 class="mb-0 fw-bold">{{dataKaryawan[i-1][0]}}</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="ms-2">
                                                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalEdit{{dataKaryawan[i-1][2]}}">
                                                                Edit
                                                              </button>
                                                            <a href="/admin/delete/{{dataKaryawan[i-1][2]}}" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                            <div class="modal fade" id="modalEdit{{dataKaryawan[i-1][2]}}" tabindex="-1" aria-labelledby="{{i}}" aria-hidden="true">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h5 class="modal-title" id="{{i}}">Edit data</h5>
                                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <form action="/admin/editUsers/{{dataKaryawan[i-1][2]}}" method="POST" enctype="multipart/form-data">
                                                        <div class="modal-body">
                                                            <div class="mb-3">
                                                                <label class="form-label">Name</label>
                                                                <input type="text" class="form-control" aria-describedby="emailHelp" name="namaKaryawan" value="{{dataKaryawan[i-1][0]}}">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="col-sm-12">Insert Signature File</label>
                                                                <div class="col-sm-12">
                                                                    <input type="file" class="form-control" name="signature">
                                                                    <br>
                                                                    <input type="file" class="form-control" name="signature1">
                                                                    <br>
                                                                    <input type="file" class="form-control" name="signature2">
                                                                    <br>
                                                                    <input type="file" class="form-control" name="signature3">
                                                                    <br>
                                                                    <input type="file" class="form-control" name="signature4">
                                                                    <br>
                                                                </div>
                                                            </div>

                                                            
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                                        </div>
                                                    </form>
                                                  </div>
                                                </div>
                                              </div>
                                              {% endfor %}
                                            {% endif %}
                                        
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Table -->
                
                <!-- Table -->
                <div class="row">
                    <!-- column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- title -->
                                <div class="d-md-flex">
                                    <div>
                                        <h4 class="card-title">History of Comparison</h4>
                                    </div>
                                </div>
                                <!-- title -->
                                <div class="table-responsive">
                                    <table class="table mb-0 table-hover align-middle text-nowrap">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0">No.</th>
                                                <th class="border-top-0">Compared Signature</th>
                                                <th class="border-top-0">Result</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if len == 0 %}
                                            <tr>
                                                <td colspan="3" class="text-center">No Data</td>
                                            </tr>
                                            {% else %}
                                            {% for i in range(1, len+1) %}
                                            <tr>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="ms-2">
                                                            <h5 class="mb-0 fw-bold">{{i}}</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="ms-2">
                                                            <h5 class="mb-0 fw-bold">{{history[i-1][2]}}</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="ms-2">
                                                            <h5 class="mb-0 fw-bold">{{history[i-1][3]}}</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Table -->
            </div>
            
            <!-- End Container fluid  -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    
    <!-- End Wrapper -->


    
    

    <script src="{{url_for('static',filename='js/jquery.min.js')}}""></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
   
</body>

</html>