<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guardians</title>
    <link href="{{ url_for('static', filename='css/style.min.css') }}" rel="stylesheet">
</head>
<body>

    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- Logo -->      
                    <a class="navbar-brand" href="{{url_for('home')}}">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                            <!-- Dark Logo icon -->
                            <img src="{{url_for('static',filename='img/Guardians.png')}}"" alt="homepage" class="dark-logo" />
                            <!-- <h5>Logo</h5> -->
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                            <!-- dark Logo text -->
                            <!-- <img src="../assets/images/logo-text.png" alt="homepage" class="dark-logo" /> -->
                        </span>
                    </a>
                    <!-- End Logo -->
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="mdi mdi-menu"></i>
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav float-start me-auto">
                    </ul>
                    <!-- Right side toggle and nav items -->
                    <ul class="navbar-nav float-end">
                        <!-- User profile and search -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{url_for('static',filename='img/d2.jpg')}}" alt="user" class="rounded-circle" width="31">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{url_for('logout')}}"><i class="ti-wallet m-r-5 m-l-5"></i>
                                    Logout</a>
                            </ul>
                        </li>
                        <!-- User profile and search -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- End Topbar header -->
        
    
        <!-- Page wrapper  -->
        <div class="container-fluid col-10">
            <!-- Bread crumb and right sidebar toggle -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 d-flex align-items-center">
                              <li class="breadcrumb-item"><a href="{{url_for('home')}}" class="link"><i class="mdi mdi-home-outline fs-4"></i></a></li>
                              <li class="breadcrumb-item active" aria-current="page">Open Camera</li>
                            </ol>
                          </nav>
                        <h1 class="mb-0 fw-bold">Open Camera</h1>
                        <h3>Hello, {{usernames}}</h2>
                    </div>
                </div>
            </div>
            <!-- End Bread crumb and right sidebar toggle -->

            <div class="card">
                <img class="card-img-top" src="static/img/uploads/cameraCompare.png" height="50%">
                <div class="card-body text-center">
                    <form class="form-horizontal form-material mx-2" action="{{ url_for('upload_image') }}" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-12">Select Person Name: </label>
                            <div class="col-sm-12">
                                <select name="selectName" required class="form-select shadow-none form-control-line">
                                    <option selected>Choose...</option>
                                    {% for i in range(0,len) %}
                                    <option value="{{karyawan[i][0]}}">{{karyawan[i][0]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    
                
                    
                
                    
                        <input type="submit" class="btn btn-success text-white" value="Compare!" name="compareCam"/>
                    </form>
                </div>
            </div>
        
        </div>
    </div>

</body>
</html>